@model Category

<div class="row">
    <div class="col-md-2">
        <a class="btn bg-danger" asp-action="Delete" asp-controller="Category" asp-route-categoryId=@Model.CategoryId>Delete</a>
    </div>
    <div class="col-md-8">
        <h5>@Model.CategoryName</h5>
        <h5>@Model.Description</h5>
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Total Order</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Products)
                {
                    <tr>
                        <td><a asp-action="Index" asp-controller="Product" asp-route-id="@item.ProductId" >@item.ProductName</a></td>
                        <td>@item.OrderDetails.Count</td>
                        <td>@item.OrderDetails.Sum(x=> x.UnitPrice*x.Quantity* (decimal)(1-x.Discount))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
