@model ProductViewModel

<div class=row>
    <div class="col-md-2">
        <h6>@TempData["Mesaj"]</h6>
    </div>
    <div class="col-md-8">
        <h3>@Model.ProductName</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="w-100 mt-3">
                    <img src="https://assets.dogannet.tv/img/75/740x0/5ede49f4ae298b9724fe0858" style="width:100%;height:200px;" />
                </div>

            </div>
            <div class="col-md-7">
                <div class="mt-2">
                    @*<label>Supplier Name : @Model.Supplier.CompanyName</label><br />
                    <label>Quantity Per Unit : @Model.QuantityPerUnit </label><br />
                    <label>Unit Price : @Model.UnitPrice </label><br />
                    <label>Units in Stock : @Model.UnitsInStock</label><br />
                    <label>Units on Order : @Model.UnitsOnOrder </label><br />
                    <label>Reordered Level : @Model.ReorderLevel</label><br />
                    <label>Discountinued : @Model.Discontinued </label><br />*@
                    <label>Category : @(Model.CategoryId == null ? "Not found" : Model.CategoryName)</label><br />
                    <label>Supplier : @(Model.SupplierId == null ? "Not found" : Model.CompanyName)</label><br />
                    <label>Unit Price : @($"{Model.UnitPrice:c2}")</label>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" asp-action="Update" asp-controller="Product" asp-route-id="@Model.ProductId">Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@Model.ProductId">Delete</a>
        <input type="button" class="btn btn-danger" value="Delete" data-toggle="modal" data-target="#confirm-delete" />
    </div>
</div>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Delete confirmation</h4>
            </div>

            <div class="modal-body">
                <p>Product will be deleted.There is no turning back from this action.</p>
                <p>Are you sure?</p>
                <p class="debug-url"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">GiveUp</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>

</div>

@section Scripts{ 
    <script>
        $('#confirm-delete').on('show.bs.modal', function (e) {
            $(this).find('.btn_ok').attr('href', '@Url.Action("Delete","Product",new { id = Model.ProductId })');
        })
    </script>
}