@model List<Product>

<h2>Toplam Kayıt: @Model.Count</h2>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Supplier</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(item.Category == null ? "Categort not found" : item.Category.CategoryName)</td>
                        <td>@item.ProductName</td>
                        <td>@($"{item.UnitPrice:c2}")</td>
                        <td>@(item.Supplier == null ? Html.Raw( @"<u>Supplier not found</u>") : item.Supplier.CompanyName)</td>
                        <td><a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="btn btn-primary">Detay</a></td>
                    </tr>
           }
            </tbody>
        </table>
        <input type="button" value="Previous Page" class="btn btn-success page" id="btn_previous" />
        @ViewBag.Page / @ViewBag.Limit
        <input type="button" value="Next Page" class="btn btn-success page" id="btn_next" />
    </div>
    <div class="col-md-3"></div>

</div>

@section Scripts{
    <script>
        var page = @ViewBag.Page;
        var limit = @ViewBag.Limit;
        $("#btn_previous").click(function () {
            if (page > 1) {
                page -= 1;
                //var url = "product/index?page=" + page;
                var url = '@Url.Action("Index","Product",new {page = ViewBag.Page-1 })';
                window.location.href = url;
            }
        });

        $("#btn_next").click(function () {
            if (page < limit) {
                var url = '@Url.Action("Index","Product",new {page = ViewBag.Page+1 })';
                window.location.href = url;
            }

        });
    </script>
}
